<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Shop</display-name>


    <servlet>
        <description>Application page</description>
        <display-name>ApplicationPage</display-name>
        <servlet-name>ApplicationPage</servlet-name>
        <servlet-class>org.automation.dojo.web.servlet.WorkflowController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationPage</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Production application page</description>
        <display-name>ProductionApplicationPage</display-name>
        <servlet-name>ProductionApplicationPage</servlet-name>
        <servlet-class>org.automation.dojo.web.servlet.BugsFreeWorkflowController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductionApplicationPage</servlet-name>
        <url-pattern>/production</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
